<% job = data.fetch('job') %>
<% time_periods = data.fetch('time_periods', []) %>
<% time_period_data = time_periods.map { |tp| [tp.formatted, tp.id] } %>
<% job_types = data.fetch('job_types', []) %>
<% job_type_data = job_types.map { |type| [type.titleize, type] } %>

<%= form_with model: job, scope: :job, local: true do |form| %>
  <% if job.errors.any? %>
    <div class="form-errors job-form-errors">
      <h3>Unable to <%= job.persisted? ? "update" : "create" %> Job</h3>

      <ul class="form-errors-list">
        <% job.errors.full_messages.each do |message| %>
          <li class="form-errors-list-item"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :time_period_id, 'Time Period' %>
    <%= form.select :time_period_id, options_for_select(time_period_data) %>
  </p>

  <p>
    <%= form.label :job_type, 'Job Type' %>
    <%= form.select :job_type, options_for_select(job_type_data) %>
  </p>

  <p>
    <%= form.label :company_name, 'Company Name' %>
    <%= form.text_field :company_name %>
  </p>

  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :source %>
    <%= form.text_field :source %>
  </p>

  <p>
    <%= form.label :recruiter_name, 'Recruiter Name' %>
    <%= form.text_field :recruiter_name %>
  </p>

  <p>
    <%= form.label :recruiter_agency, 'Recruiter Agency' %>
    <%= form.text_field :recruiter_agency %>
  </p>

  <p>
    <%= form.label :notes %>
    <%= form.text_area :notes, rows: 5 %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
