<!DOCTYPE html>
<html>
  <head>
    <title>PizzaRat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'normalize', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <h1>
      Pizza Rat
      <br>
      <small>The Reverse Applicant Tracking System</small>
    </h1>

    <%= yield %>
  </body>
</html>
